.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 70px;
}

.logo {
 display: flex;
 justify-content: center;
 width: 200px;
}

.userInfoWrap {
 display: flex;
 justify-content: flex-end;
}

.userInfo {
 display: flex;
 align-items: center;

 & img {
  margin-left: 7px;
  width: 40px;
  height: 40px;
 }
}